:root {
  --light-bg: #fafafa;
  --light-text: #0e0e0e;
  --light-container-bg: white;
  --light-input-bg: white;
  --light-input-border: #cbcbcb;
  --light-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  --light-picker-filter: invert(0);

  --dark-bg: #fafafa;
  --dark-text: #dbdbdb;
  --dark-container-bg: #222222;
  --dark-input-bg: #3c3c3c;
  --dark-input-border: #555555;
  --dark-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  --dark-picker-filter: invert(1);

  --button-bg: #5cb85c;
  --button-hover: #4cae4c;
  --button-text: white;
}

#theme-toggle {
  display: none;
}

#theme-sun,
#theme-moon {
  font-size: 2.8rem;
  cursor: pointer;
  user-select: none;
  padding: 5px;
  line-height: 1;
  z-index: 10;
  margin-left: 15px;
}

body {
  --current-bg: var(--light-bg);
  --current-text: var(--light-text);
  --current-container-bg: var(--light-container-bg);
  --current-input-bg: var(--light-input-bg);
  --current-input-border: var(--light-input-border);
  --current-shadow: var(--light-shadow);
  --current-picker-filter: var(--light-picker-filter);
  color-scheme: light;
}

#theme-sun {
  display: block;
}
#theme-moon {
  display: none;
}

/*ciemny motyw*/
body:has(#theme-toggle:checked) {
  --current-bg: var(--dark-bg);
  --current-text: var(--dark-text);
  --current-container-bg: var(--dark-container-bg);
  --current-input-bg: var(--dark-input-bg);
  --current-input-border: var(--dark-input-border);
  --current-shadow: var(--dark-shadow);
  --current-picker-filter: var(--dark-picker-filter);
  color-scheme: dark;
}

body:has(#theme-toggle:checked) #theme-sun {
  display: none;
}
body:has(#theme-toggle:checked) #theme-moon {
  display: block;
}

html {
  font-size: 16px;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}

body.login-page {
  background-color: var(--current-bg);
  color: var(--current-text);
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center; /*centruje horyzontalnie h1 i kontener*/
  min-height: 100vh;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.login-container {
  position: relative;
  background-color: var(--current-container-bg);
  color: var(--current-text);
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: var(--current-shadow);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.page-container {
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
}

h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 10px auto 25px auto;
  padding: 0;
  color: #0e0e0e;
  transition: color 0.3s ease;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 500;
}

input[type='text'],
input[type='email'],
input[type='date'],
input[type='number'],
select,
input[list='cities'] {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid var(--current-input-border);
  background-color: var(--current-input-bg);
  color: var(--current-text);
  border-radius: 1px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
}

input::placeholder {
  color: #888;
}

body:has(#theme-toggle:checked) input::placeholder {
  color: #aaa;
}

/*kalendarz*/
input[type='date']::-webkit-calendar-picker-indicator {
  filter: var(--current-picker-filter);
  cursor: pointer;
}

/*wybor koloru*/
input[type='color'] {
  width: 100%;
  height: 45px;
  padding: 1px;
  margin-bottom: 15px;
  border: 1px solid var(--current-input-border);
  border-radius: 1px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: var(--current-input-bg);
}

/*publikacja online fieldset ramka*/
fieldset {
  border: 2px solid var(--current-input-border);
  border-radius: 1px;
  padding: 10px 10px;
  margin-bottom: 15px;
  transition: border-color 0.3s ease;
}

legend {
  font-size: 16px;
  font-weight: 500;
  padding: 0 5px;
  color: var(--current-text);
  transition: color 0.3s ease;
}

fieldset label,
label[for='checkbox'] {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 15px;
  font-weight: normal;
  cursor: pointer;
  user-select: none;
}

input[type='radio'],
input[type='checkbox'] {
  margin-right: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  vertical-align: middle;
  color-scheme: light; /*zmiana tla*/
  accent-color: gray; /*nie chce zielonego*/
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover);
}
